#################################
# ===== JAVA / SPRING BOOT =====
#################################

target/
*.log
*.class
*.jar
*.war
*.ear

# Maven
.mvn/wrapper/maven-wrapper.jar

#################################
# ===== IDE =====
#################################

# IntelliJ
.idea/
*.iml
out/

# VSCode
.vscode/

#################################
# ===== OS FILES =====
#################################

# Mac
.DS_Store

# Linux
*~

#################################
# ===== ENV / SECRETS =====
#################################

.env
.env.*
*.env

application-local.yml
application-dev.yml

#################################
# ===== DOCKER =====
#################################

docker-data/
*.tar

#################################
# ===== ANSIBLE =====
#################################

*.retry
ansible.log

#################################
# ===== KUBERNETES =====
#################################

kubeconfig*
*.kubeconfig

#################################
# ===== LOGS =====
#################################

logs/
*.out

#################################
# ===== TEST OUTPUT =====
#################################

surefire-reports/
failsafe-reports/

#################################
# ===== NODE (future frontend) ==
#################################

node_modules/

#################################
# ===== TEMP FILES =====
#################################

tmp/
temp/